<ion-view title="Case Details" id="page5" style="">
  <ion-content padding="true" class="has-header">
    <ion-list id="caseDetails-list5">
      <ion-item class="item-thumbnail-left" id="caseDetails-list-item27" style="">
        <h2>Case Title</h2>
      </ion-item>
    </ion-list>
    <ion-list id="caseDetails-list6">
      <ion-item id="caseDetails-list-item31" style="">Party Name</ion-item>
      <ion-item id="caseDetails-list-item32" style="">Case Date</ion-item>
      <label class="item item-input" id="caseDetails-textarea2">
        <span class="input-label">Case Description</span><textarea placeholder=""></textarea></label>
      <ion-item id="caseDetails-list-item33" style="">Case Status</ion-item>
      <ion-item id="caseDetails-list-item34" style="">Conversations +</ion-item>
      <ion-item id="caseDetails-list-item35" style="">Hire a mediator</ion-item>
    </ion-list>
    <div id="caseDetails-button-bar2" class="button-bar">
      <button id="caseDetails-button18" class="button button-positive  button-block">Send Message</button>
      <button id="caseDetails-button19" class="button button-positive  button-block">Upload File</button>
    </div>
  </ion-content>
</ion-view>