<ion-view title="DashBoard" id="page3" style="">
  <ion-content padding="true" class="has-header">
    <h2 id="dashBoard-heading2" style="color: rgb(230, 28, 220);">Hi, Jeff</h2>
    <ion-list id="dashBoard-list7">
      <ion-item class="item-icon-left balanced" id="dashBoard-list-item36" ui-sref="notifications" style="">
        <i class="icon ion-android-notifications-none"></i>Notifications</ion-item>
    </ion-list>
    <ion-list id="dashBoard-list9">
      <ion-item class="item-icon-left assertive" id="dashBoard-list-item38" ui-sref="myAccount" style="">
        <i class="icon ion-android-person"></i>My Account</ion-item>
    </ion-list>
    <ion-list id="dashBoard-list10">
      <ion-item class="item-icon-left energized" id="dashBoard-list-item39" ui-sref="newCase" style="">
        <i class="icon ion-android-add"></i>Add Case</ion-item>
      <ion-item class="item-icon-left positive" id="dashBoard-list-item40" ui-sref="selectCase" style="">
        <i class="icon ion-android-arrow-up"></i>Case By Me</ion-item>
      <ion-item class="item-icon-left assertive" id="dashBoard-list-item41" ui-sref="selectCase" style="">
        <i class="icon ion-android-arrow-down"></i>Case On Me</ion-item>
      <ion-item class="item-icon-left royal" id="dashBoard-list-item42" style="">
        <i class="icon ion-man"></i>Request a Mediator</ion-item>
      <ion-item class="item-icon-left calm" id="dashBoard-list-item43" ui-sref="proSettle" style="">
        <i class="icon ion-log-out"></i>Log Out</ion-item>
    </ion-list>
  </ion-content>
</ion-view>