<ion-view title="My Account" id="page9" style="">
  <ion-content padding="true" class="has-header">
    <form id="myAccount-form9" class="list">
      <label class="item item-input" id="myAccount-input12" name="Name">
        <input placeholder="Name" type="text">
      </label>
      <label class="item item-input" id="myAccount-input13">
        <input placeholder="Email" type="text">
      </label>
      <label class="item item-input" id="myAccount-input14">
        <input placeholder="Mobile No" type="text">
      </label>
    </form>
    <button id="myAccount-button23" class="button button-positive  button-block">Save</button>
  </ion-content>
</ion-view>