<ion-view title="New Case" id="page6" style="">
  <ion-content padding="true" class="has-header">
    <form id="newCase-form7" class="list">
      <label class="item item-input" id="newCase-input8">
        <span class="input-label">Party Name</span>
        <input placeholder="" type="text">
      </label>
      <label class="item item-input" id="newCase-input9">
        <span class="input-label">Email</span>
        <input placeholder="Party Email" type="text">
      </label>
      <label class="item item-select Civil Law" id="newCase-select1">
        <span class="input-label">Case Type</span>
        <select>
          <option>Banking</option>
          <option></option>
        </select>
      </label>
      <label class="item item-input" id="newCase-input10">
        <span class="input-label">Mobile</span>
        <input placeholder="" type="text">
      </label>
    </form>
    <button id="newCase-button24" class="button button-positive  button-block">Upload File</button>
    <button id="newCase-button21" class="button button-positive  button-block">Initiate Case</button>
  </ion-content>
</ion-view>