<ion-view title="ProSettle" id="page1" style="">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 100px;"></div>
    <form id="proSettle-form1" class="list">
      <label class="item item-input" id="proSettle-input1">
        <input placeholder="User Name/ Email / Mobile No" type="text">
      </label>
    </form>
    <form id="proSettle-form2" class="list">
      <label class="item item-input" id="proSettle-input2">
        <input placeholder="Password" type="text">
      </label>
    </form>
    <a ui-sref="dashBoard" id="proSettle-button1" class="button button-positive  button-block">Login</a>
    <a ui-sref="signUp" id="proSettle-button2" class="button button-positive  button-block button-outline">SignUp for ProSettle</a>
    <div class="spacer" style="width: 283px; height: 10px;"></div>
    <div>
      <p>
      </p>
      <center>
        <font color="green">Forgot Password</font>
      </center>
      <p></p>
    </div>
  </ion-content>
</ion-view>