<ion-view title="SignUp" id="page2" style="">
  <ion-content padding="true" class="has-header">
    <form id="signUp-form3" class="list">
      <label class="item item-input" id="signUp-input3">
        <span class="input-label">Name</span>
        <input placeholder="Name" type="text">
      </label>
      <label class="item item-input" id="signUp-input4">
        <span class="input-label">Email</span>
        <input placeholder="Enter Your EmailId" type="text">
      </label>
      <label class="item item-input" id="signUp-input5">
        <span class="input-label">Password</span>
        <input placeholder="Desired password" type="text">
      </label>
      <label class="item item-input" id="signUp-input6">
        <span class="input-label">Mobile</span>
        <input placeholder="10 Digit Mobile No" type="text">
      </label>
      <label class="item item-input" id="signUp-input7">
        <span class="input-label">OTP</span>
        <input placeholder="4 Digit OTP sent by us" type="text">
      </label>
    </form>
    <a ui-sref="dashBoard" id="signUp-button3" class="button button-positive  button-block">Sign Up</a>
    sample change
  </ion-content>
</ion-view>